.donation-widget[data-theme="nfp"] {
    --primary-color:#4bd8a1;
    --primary-color-300: #3cad81;
    --secondary-color: #242424;
    --outline-color: #3f88c5;
    --button-height: 50px;
    --transition: all 200ms ease-out;
    --text-color-on-focus: White;
    --font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
    --font-weight: 700;
    --fixed-amount-font-size: 18px;
    --custom-amount-font-size: 14px;
    --btn-font-size: 14px;
    --max-widget-width: 500px;
  }
  